<!DOCTYPE html>
<html>
<head>
    <title>Camera Streaming</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
</head>
<body>
    <img id="cameraStream" src="#" alt="Camera Stream">
    
    <script>
        console.log(99999)
        const socket = io.connect('/');
        const cameraStream = document.getElementById('cameraStream');
        
        socket.on('connect', () => {
            console.log('Connected to server');
        });
        
        socket.on('camera_frame', (frameData) => {
            console.log(555)
            console.log(frameData);
            // Convert the received frame data to a blob
            const blob = new Blob([frameData], { type: 'image/jpeg' });
            console.log(blob)
            // Create a URL for the blob and set it as the image source
            const imageUrl = URL.createObjectURL(blob);
            console.log(imageUrl
            )
            cameraStream.src = imageUrl;
        });
    </script>
</body>
</html>
